


.service-container {
  /* background: url('../../../images/office1.jpg') center center/cover no-repeat; */
  /* background-color: #fff; */
  height: 70vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
   /* padding-left: 80px; */
  padding-top: 100px; 
  align-items: center;
  box-shadow: inset 0 0 0 1000px #fff;
  object-fit: contain;
}

.service-container h2 {
  font-size: 13px;
  letter-spacing: 1px;
  font-weight: 700;
  padding: 8px 20px;
  margin: 0;
  background: #e7f1fd;
  color: #106eea;
  display: inline-block;
  text-transform: uppercase;
  border-radius: 50px;
}

.service-container  h3{
  /* color: #1c2237; */
  margin: 15px 0 0 0;
  font-size: 32px;
  font-weight: 700;
  /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
}

.service-container  h3 span {
  /* color: #106eea; */
  color: #106eea;
  /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.5rem; */
}
.service-container  li{
  font-size: 1.6rem;
  color: #222222;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}