


.service-container {
  background: url('../../../images/office1.jpg') center center/cover no-repeat;
  height: 70vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
   /* padding-left: 80px; */
  padding-top: 100px; 
  align-items: center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  object-fit: contain;
}

.service-container  h3{
  /* color: #1c2237; */
  color: #fff;
  font-size: 1.7rem;
}

.service-container  h3 span {
  /* color: #106eea; */
  color: #fff;
  font-size: 1.5rem;
}
.service-container  li{
  font-size: 1.5rem;
  color: #fff;
}